body,html {
  margin: 0;
  padding:0;
  background: #42EADDFF;// #d5ebef; // crimson;
}

.controlPanel {
  height: 100px;
  background: crimson;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: green;
  .cTop {
    height: 50%;
    width: 100%;
    background: #00203FFF;
    display: flex;
  }
  .cBottom {
    height: 50%;
    width: 100%;
    background: #ADEFD1FF;
  }
}
.startButton {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  background: indigo;
}
.grid {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.singleNode {
  /* border: 1px solid white;
  width: 25px;
  height: 25px;
  min-width: 24px;
  min-height: 25px; */
    border: 1px solid #CDB599FF;
    width: 35px;
    border-radius: 5px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    margin: 1px;
}
.singleNode-visited {
  /* animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-play-state: running; */
  background:  #CDB599FF;//#3f3f88;// navy;
}
.singleNode-visited-animation {
animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-play-state: running;
}
.row {
  display: flex;
  justify-content: center;
}
.start {
  background: #6e31bf;
  background-image: url('./assets/startA.png');
  background-size:cover;
}
.target {
  background: #cacaca;
}
.checked {
  background: blue;
}
.wall {
  background: #a8b9f7;
}


.setGridSize {
  display: flex;
  div {
    display: flex;
    align-items: center;
    input {
      width: 38px;
      background: lavender;
      padding: 4px;
      border-radius: 3px;
      font-size: 20px;
      border: none;
    }
  }
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(232, 246, 35, 0.87);
    border-radius: 100%;
  }
  50% {
    transform: scale(1.9);
    background-color: rgba(83, 196, 216, 0.767);
  }
  75% {
    //transform: scale(1.9);
    background-color: rgba(35, 46, 167, 0.657);
  }
  100% {
    transform: scale(1);
    background-color: rgba(58, 0, 218, 0.082);
  }
}
/* @keyframes fadereset {
  0% {
    border:1px;
  }
  100% {
     border:11px solid red;
  }

}
 */

#selectTool {
  background: lavender;
  padding: 4px;
  border-radius: 3px;
  font-size: 20px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 1;
}