body,html {
  margin: 0;
  padding:0;
}

.controlPanel {
  height: 50px;
  background: gray;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.startButton {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  background: indigo;
}
.grid {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.singleNode {
  border: 1px solid;
  width: 20px;
  height: 20px;
  margin: 1px;
  min-width: 20px;
  min-height: 20px;
}
.singleNode-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.row {
  display: flex;
}
.start {
  background: red;
}
.target {
  background: green;
}
.checked {
  background: blue;
}


.setGridSize {
  display: flex;
  div {
    display: flex;
    input {
      width: 35px;
    }
  }
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(232, 246, 35, 0.87);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(83, 196, 216, 0.767);
  }
  75% {
    transform: scale(1.4);
    background-color: rgba(35, 46, 167, 0.657);
  }
  100% {
    transform: scale(1);
    background-color: rgba(58, 0, 218, 0.75);
  }
}


